@model AddressBook.Models.Person

@{
    ViewBag.Title = "Details";
    string tabID = ViewBag.TabID;
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumMain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumMain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumCell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumCell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index",null,new {TabID = tabID},new { @class="btn btn-secondary"})
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new { @class = "btn btn-primary" })
</p>
